.is-pulse {
  animation: pulse 1.5s infinite;
  border: 2px rgb(246, 101, 101) solid;
  box-shadow: 0 0 0 0 rgba(246, 101, 101, 0.5);
}
.is-pulse:hover {
  -webkit-animation: none;
  animation: none;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(246, 101, 101, 0.4);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(246, 101, 101, 0);
  }
}
