table#timing td:last-child {
    width: 25%;
    text-align:center;
    vertical-align: middle;
}

td button {
    margin: 0px 2px;
}

table#timing tr.is-hidden-desktop th {
    text-align:center;
}

/* Hide spinner on number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}