@using WorkoutBuilder.Services;
@inject IUserContext UserContext
@{
    ViewData["Title"] = "Exercises";
}

<div id="root" data-canmanageallexercises="@UserContext.CanManageAllExercises()"></div>

@section Scripts
{
    <script src="~/js/pages/exercises-index.js"></script>    
}