@{
    ViewData["Title"] = "Timing Calculator";
    ViewData["MetaDescription"] = "The Timing Calculator can be used to calculate a workout's total work and rest time. Use this page to experiment with different timing ideas or create new workout routines.";
}

<div id="root"></div>

@section Scripts
{
    <script src="~/js/pages/timing-index.js"></script>    
}