<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  </head>
  <body>
    <section class="hero is-link">
      <div class="hero-body">
        <h1 class="title">@ViewData["Title"]</h1>
      </div>
    </section>
    @RenderBody()
    <footer class="footer">
        <div class="content has-text-centered">
            <p><strong>Workout Builder</strong> by <a href="#">Mike Devlin</a>.</p>
        </div>
        <div class="content">
            <p class="is-size-7 is-italic">By accessing and using the workout routines posted on this website, you acknowledge and agree that you are doing so at your own risk. The owner of this website, its contributors, and anyone associated with it shall not be held liable for any injuries, damages, or deaths that may occur as a result of following these workouts. It is your responsibility to consult with a qualified professional before attempting any exercise routine and to ensure that you are physically capable of performing the exercises safely. By using this website, you waive any claims against the owner and hold them harmless from any and all liabilities.</p>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
  </body>
</html>
