@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="@($"https://www.googletagmanager.com/gtag/js?id={Configuration["GoogleAnalyticsKey"]}")"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '@Configuration["GoogleAnalyticsKey"]');
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>@ViewData["Title"]</title>
    <link
      rel="stylesheet"
      href="~/css/bulma/site.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link rel="stylesheet" href="~/css/login.css" />
    @await RenderSectionAsync("header", required: false)
  </head>
  <body>
    <section class="hero is-link is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-6-widescreen is-6-desktop">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/js/pages/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
