@using WorkoutBuilder.Models;

@{
    Layout = "_LoginLayout";
}


<section class="section">
    <div class="container is-max-desktop">
        <div class="box">
            <h4 class="is-4 title">Success</h4>
            <div class="block">
                <p>Your password has been reset. Please click the button to login.</p>
            </div>
            <div class="block">
                <a asp-controller="Users" asp-action="Login" class="button is-primary is-fullwidth">Login</a>
            </div>
        </div>
    </div>
</section>