@using WorkoutBuilder.Models;
@model UserResetPasswordModel

@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Reset Password";
}

@using (Html.BeginForm(FormMethod.Post, new { @class = "box" }))
{
    <h4 class="is-4 title">Enter Your New Password</h4>
    @if (ViewBag.Success != null)
    {
        <p class="notification is-success is-light">
            @ViewBag.Success
        </p>
    }
    <div class="field">
        <label class="label">New Password</label>
        <div class="control">
            <input class="input" name="Password" type="password" required asp-for="Password">
        </div>
    </div>
    <div class="field">
        <label class="label">Confirm Password</label>
        <div class="control">
            <input class="input" name="Confirm" type="password" required asp-for="Confirm">
        </div>
    </div>
    <p class="help is-danger">
        <span asp-validation-for="Confirm"></span>
    </p>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link">Submit</button>
        </div>
        <div class="control">
            <a href="@Url.Action("Index", "Home")" class="button is-link is-light">Cancel</a>
        </div>
    </div>
    <input name="PublicId" type="hidden" asp-for="PublicId">
    @Html.AntiForgeryToken()
}