@using WorkoutBuilder.Services;
@inject IUserContext UserContext
@{
    ViewData["Title"] = "Workout Builder";
}

<div id="root" data-userid="@UserContext.GetUserId()"></div>

@section Scripts
{
    <script src="~/js/pages/home-index.js"></script>    
}