@using WorkoutBuilder.Services;
@inject IUserContext UserContext

<div id="root" data-userid="@UserContext.GetUserId()"></div>

@section Scripts
{
    <script src="~/js/pages/home-index.js"></script>    
}